# we don't need no big data masses
*.xtc
*.xvg*
*.trr
*.trj
*.pyc
*.npy
*.h5

# pictures and plots use a lot of space as well
*.png
*.tga
*.pdf
!Presentation_WW.pdf

# we dont't need no latex trash
*.blg
*.bbl
*.fdb_latexmk
*.log
*.fls
*.aux
*.nav
*.out
*.snm
*.toc

# we dont need no... whatever useless stuff!
*.swp
